body{
  background-color: rgb(243, 238, 231);
}

.main{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main_container{
  width: 98%;
  margin: 20px auto;
  border: 1px solid white;
  background-color: white;
  border-radius: 5px;
}

.filter_class{
  display: flex;
  margin: 20px;
}

.filter_class ul{
  display: flex;
  justify-content: space-between;
}

li{
  list-style: none;
}
.filter_list li{
  margin-left: 80px;
}

select{
  width: 100px;
}

.cards_class{
  display: flex;
  justify-content: space-between;
}
.card{
  /* width: 50%; */
  width: 400px;
  height: 80px;
  margin: 10px 20px;
  border: 1px solid cadetblue;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
}

.card_title{
  font-size: 20px;
  font-weight: 600;
}

.card_number{
  font-size: 20px;
  font-size: 600;
}